{{>nav}}
<link rel="stylesheet" href="/css/table-styles.css">
<link rel="stylesheet" href="/css/popup.css">
<!-- Inicio del cuerpo -->
<section class="cuerpo">
    <div class="cuerpo-titulo">
        <h1>
            <i class="fas fa-info-circle"></i>  Ingredientes existentes
        </h1>
    </div>
     <div class="cuerpo-contenido">
        <div class="caja-contenido-small">
            <img src="/img/category-section/add-new.png" alt="" class="image-fit">
            <div class="contenido">
                <div class="pad-x1">
                    <a class="add-button">
                        <i class="fas fa-plus"></i>
                        Nuevo
                    </a>
                </div>
                <div class="div-overflowed">
                    <table class="table-normal">
                        <th id="id-head">#</th>
                        <th><i class="fas fa-boxes"></i> Ingrediente</th>
                        <th><i class="fas fa-wrench"></i> Opciones</th>
                        {{#each ingredients}}
                            <tr>
                                <td id="id-field">
                                    {{id}}
                                </td>
                                <td>
                                    {{nombre}}
                                </td>
                                <td>
                                    <a href="ingredients/edit/?id={{id}}&ingredient={{nombre}}" class="edit-button">
                                        <i class="far fa-edit"></i>
                                        Editar
                                    </a>
                                    <a href="ingredients/delete/?id={{id}}&ingredient={{nombre}}" class="delete-button">
                                        <i class="far fa-trash-alt"></i>
                                        Eliminar
                                    </a>
                                </td>
                            </tr>
                        {{else}}
                            <p>
                                No hay ingredientes aun!
                            </p>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div> 
    </div>
</section>
{{!-- popup AGREGAR NUEVA --}}
    <div class="overlay" id="overlay">
        <div class="popup" id="popup">
            <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
            <img src="/img/category-section/add-new.png" alt="" class="image-fit">
            <h3>Nuevo ingrediente</h3>
            <p>Agrega un nuevo ingrediente para ser aplicado a tus productos.</p>
            <hr>
            <div class="contenido">
                <form action="/products/ingredients/add" method="post">
                    <input class="input-tobox" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+[a-zA-Z0-9]+[a-zA-Z0-9 ]" type="text" name="ingrediente" id="ingrediente" maxlength="18" minlength="4" placeholder="Nombre del ingrediente" required>
                    <button  class="green-button"> Agregar </button>
                </form>
            </div>
        </div>
    </div>
{{!-- FIN popup AGREGAR NUEVA--}}

<script src="/js/dashboardEvents.js"></script>
<script src="/js/popup.js"></script>
<!-- Fin del cuerpo -->